h1 {
font-family: "Times New Roman";
font-style:normal;
font-weight:bold;
font-size: 40px;
color: #47E874
}
h2 {
font-family: "Futura";
font-size: 30px;
color: black;
}
p {
font-family: serif;
color: CornflowerBlue;
font-weight: 10px;
}

